@font-face { font-family: 'DigitalDismay'; src: url('../fnt/DigitalDismay.eot'); src: url('../fnt/DigitalDismay.eot?#iefix') format('embedded-opentype'), url('../fnt/DigitalDismay.woff2') format('woff2'); font-weight: normal; font-style: normal;}
@font-face { font-family: 'InterstateMono'; src: url('../fnt/InterstateMono.svg#InterstateMono') format('svg'), url('../fnt/InterstateMono.ttf') format('truetype'), url('../fnt/InterstateMono.woff') format('woff'); font-weight: normal; font-style: normal;}
@font-face { font-family: 'InterstateMonoBold'; src: url('../fnt/InterstateMono-Bold.svg#InterstateMono') format('svg'), url('../fnt/InterstateMono-Bold.ttf') format('truetype'), url('../fnt/InterstateMono-Bold.woff') format('woff'); font-weight: normal; font-style: normal;}
* {transition: .2s all linear!important;} 

/* keyframes */


  @keyframes rotate-center {
    0% {
              transform: rotate(0);
    }
    100% {
              transform: rotate(360deg);
    }
  }


  @keyframes rotate-90-cw {
    0% {
              transform: rotate(0);
    }
    100% {
              transform: rotate(90deg);
    }
  }
  

 
/* global rules */

html, body {    background: #000; overflow: auto; overflow-x: hidden; color: #fff; margin: 0 auto; width: 100%; height:100%; margin:0; padding:0;}

#sld {position:absolute; z-index:100000;width:300px;display:none;}
#amount {position:absolute; margin-left: 20px; top:50px; border:1px white solid; display:block;z-index:100000}

 
/* components & items */

.rotate-center {
	-webkit-animation: rotate-center 20s ease-in-out infinite alternate-reverse backwards;
	        animation: rotate-center 20s ease-in-out infinite alternate-reverse backwards;
}

 .rotate-90-cw {
	-webkit-animation: rotate-90-cw 40s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
	        animation: rotate-90-cw 40s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
}

/*
.progressbar {    filter: blur(1.5px);  background: transparent; border: 0 !important; position: absolute; left: 61px; display: block; width: 87%; bottom: 9px; height: 45px; border-radius: 0; box-shadow: inset 0px 0px 14px 3px rgba(0,0,0,0.75); z-index: 50;
    .ui-progressbar-value{	 filter: blur(5px);    border: 0!important;    background: rgb(12,154,221);        background: -moz-linear-gradient(left, rgba(12,154,221,1) 0%, rgba(12,242,161,1) 25%, rgba(252,180,0,1) 50%, rgba(249,99,12,1) 75%, rgba(255,0,0,1) 100%);        background: -webkit-linear-gradient(left, rgba(12,154,221,1) 0%,rgba(12,242,161,1) 25%,rgba(252,180,0,1) 50%,rgba(249,99,12,1) 75%,rgba(255,0,0,1) 100%);        background: linear-gradient(to right, rgba(12,154,221,1) 0%,rgba(12,242,161,1) 25%,rgba(252,180,0,1) 50%,rgba(249,99,12,1) 75%,rgba(255,0,0,1) 100%);        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c9add', endColorstr='#ff0000',GradientType=1 );
        &:before { content: ''; width: 100px; height: 20px; display: block; position: absolute; z-index: 1000000000; box-shadow: inset 0px 0px 14px 3px rgba(0, 0, 0, 1);}
    }
}
*/
.progressbar {  background: transparent; border: 0 !important; position: absolute; z-index: 100000; right: 10px; display: block; width: 504px; top: 258px; border-radius: 3px; height: 23px; mix-blend-mode: hard-light;
  //      .ui-progressbar .ui-progressbar-value{	    border: 0;   background: rgb(12,154,221);background: -moz-linear-gradient(left,  rgba(12,154,221,1) 0%, rgba(12,242,161,1) 100%);background: -webkit-linear-gradient(left,  rgba(12,154,221,1) 0%,rgba(12,242,161,1) 100%);background: linear-gradient(to right,  rgba(12,154,221,1) 0%,rgba(12,242,161,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c9add', endColorstr='#0cf2a1',GradientType=1 );}
  .ui-progressbar-value{   height: 23px; box-shadow: 0 0px 20px 15px rgba(255, 61, 0, 0.5);	       background:linear-gradient(270deg, #FF3D00 0%, #00A3FF 40.1%, rgba(0, 159, 209, 0) 100%), linear-gradient(270deg, #FF2E00 -3.66%, rgba(187, 98, 33, 0.891973) 19.2%, rgba(0, 163, 255, 0.59) 54.17%, rgba(255, 255, 255, 0) 88.07%), linear-gradient(270deg, rgba(12, 154, 221, 0.8) 38.64%, rgba(0, 0, 0, 0.8) 78.91%), linear-gradient(90.31deg, rgba(0, 209, 255, 0.4) 11.14%, rgba(3, 76, 86, 0) 77.42%);}

}
#log {color:white; position: absolute;bottom: 100px;right: 100px;}



#hud {  transform: scaleX(1) rotate(0deg); position: fixed; display: table; width: 100%; height: 100%; margin: 0; padding: 0; z-index: 1000;
   // .speed { position: fixed; font-size: 280px; letter-spacing: -6px; z-index: 50; display: table; text-align: center; width: 100%; height: 100%; margin: auto; box-sizing: border-box; padding: 50px 0 0 0;}
}

.hudon { transform: scaleX(-1) rotate(180deg)!important; }
.switch {position: absolute; z-index: 1000000;}

#hud.gt-hud {font-family: 'InterstateMono';
    .speed { left: 0; top: 0; font-size: 120px;text-align: center; position: fixed; letter-spacing: -6px;z-index: 100; display: block; padding: 0; height: 50%;bottom: 0;line-height: 230px; text-align: center; width: 40.5%;}
    svg { width: 100%; height: auto; opacity: 1; display: inline-block; top: 0; position: absolute; z-index: 150; bottom: 0; left: 0; margin: auto;
      path {}
    }
    .frame {width: 100%; height: 100%; position: fixed; top: 0; bottom: 0; left: 0; right: 0; margin: auto; 
      &:first-child {mix-blend-mode: overlay;}
    }


}



